.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  border-radius: 14px;
  z-index: 30;
  width: 95%;
  max-width: 25rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  left: 33%;
  top: 20%;
}

.Table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

.Table th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #939393;
}

.Table td {
  border: 1px solid #ddd;
  padding: 8px;
}
